[submodule "labs-src/cloth-simulation"]
	path = labs-src/cloth-simulation
	url = https://github.com/jFriedli/wasm-cloth-lab.git
[submodule "labs-src/fluid-simulation"]
	path = labs-src/fluid-simulation
	url = https://github.com/jFriedli/wasm-fluid-lab.git
[submodule "labs-src/path-tracing"]
	path = labs-src/path-tracing
	url = https://github.com/jFriedli/wasm-path-tracing-lab.git
[submodule "labs-src/open-ebus-lab"]
	path = labs-src/open-ebus-lab
	url = https://github.com/jFriedli/open-ebus-lab.git
